* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.greeting__subcontainer {
    background-color: #f8edeb;
    padding: 1rem;
}

#greeting__tagline {
    color: #e26d5c;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
}